.sidebar-button {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 180px;
    -fx-background-radius: 20px;
    -fx-padding: 8px;
}

.sidebar-button:hover {
    -fx-background-color: #5D6D7E;
}

.button {
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px;
}
